  /* Add your styles here */
  body {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.product {
    border: 1px solid #ddd;
    padding: 1em;
    margin: 1em;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 200px;
}

#cart {
    float: right;
    margin: 1em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#cart ul {
    list-style-type: none;
    padding: 0;
}

#cart li {
    margin-bottom: 0.5em;
}

img {
    width: 200px;
    height: 200px;
}



header {
    background-color: #575353;
}